---
layout: layout.html
title: Book Reviews
description: A collection of book reviews and notes. I write about the books I read so I can remember them.
---

<p class="description">This is an area where I write about the books I read so I can remember them by forcing myself to think a bit extra on what was written in there.</p>
<p>P.S. I intentionally do not run the texts through any AI tools, so beware of non-native english speaker kind of bugs in there.</p>

<div class="bookList">
    {% for book in collections.books reversed %}
    <div class="postListItem">
        <h2>
            <a href="{{ book.url }}">{{ book.data.title }}
            {% if book.data.author != null and book.data.author != "" %}
            <span style="font-weight: normal;"> by <em>{{ book.data.author }}</em></span>
            {% endif %}
            </a>
        </h2>
        {% if book.data.description != null and book.data.description != "" %}
        <p class="description">{{ book.data.description }}</p>
        {% endif %}
        <ul class="postTagList">
        {% for tag in book.data.tags %}
            {% if tag != "books" %}
            <li class="postTag {% if tag == 'experiment' %}experiment{% endif %}"><a href="/tags/{{tag}}">{{tag}}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
        <em class="date">{{ book.date | date: "%Y-%m-%d" }}</em>
    </div>
    {% endfor %}
</div>
