<html>
	<head>
		<link href="/css/main.css" rel="stylesheet" />
		<link href="/css/prism-theme-retro.css" rel="stylesheet" />
		<title>{{ title }} · {{ site.title }}</title>
	</head>
	<body>
		<div class="header">
			<div class="blogInfo">
				<div class="logo">Kasparas Anusauskas</div>
				<div class="about">Personal development discoveries and experiments</div>
			</div>
			<nav class="nav">
				<ul class="navList">
					<li>
						<a href="/"> Home </a>
					</li>
					<li>
						<a href="/about">About</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="wrapper">
			<h1>{{ title }}</h1>
			{{ content }}
		</div>
	</body>
</html>
