---
layout: layout.html
eleventyComputed:
  title: Tagged “{{ tag }}”
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
---
<div class="postList">
  {% set taglist = collections[ tag ] %}

   {% for post in taglist | reverse %}
    <div class="postListItem">
        <h2><a href="{{ post.url | url }}">{{post.data.title}}</a></h2>
        {% if post.data.description != null and post.data.description != "" %}
        <p>{{ post.data.description }}</p>
        {% endif %}
        <ul class="postTagList">
        {% for tag in post.data.tags %}
            <li class="postTag"><a href="/tags/{{tag}}">{{tag}}</a></li>
        {% endfor %}
        </ul>
         <em>{{ post.date.toISOString().split("T")[0] }}</em>
    </div>
    {% endfor %}
</div>